table {
	-moz-user-select: none;
	-webkit-user-select: none;
	
	display: table;
	
	border-collapse: collapse;
	border-spacing: 0px;
	border-color: grey;
	
	border: 1px solid #aaa;
	
	table-layout: fixed;
	width: 100%;
	
	font-family: sans-serif;
}

tr {
	display: table-row;
	vertical-align: top;
}

td {
	border-left: 1px solid #aaa;
	display: table-cell;
}

.hourSlot {
	height: 42px;
}

.priHalfHour {
	height: 20px;
	border-bottom: 1px dashed #555;
	border-top: 1px solid #aaa;
	
	margin-top: -2px;

}

.secHalfHour {
	height: 20px;
	margin-top: -1px;
}

.times {
	display: block;
	width: 60px;
	text-align: right;
}

.time {
	text-align: right;
	height: 42px;
	border-bottom: 1px solid #aaa;
	padding-right: 3px;
	width: 60px;
}

.prihalfHour:hover, .secHalfHour:hover {
	border: 1px solid salmon;
	margin-top: -2px;
	margin-bottom: -1px;
}
