body {
	font: x-large bold;
	font-family: sans-serif;
}

.calendar .day {
	display: inline-block;
}

.day {
	border: 1px solid #000;
	width: 12%;
	height: 100%;
	font-size: 2.9vh;
}

.halfHour {
	border: 1px dashed deepskyblue
}

.halfHour:hover {
	border: 1px solid mediumseagreen;
}